@media screen and (max-width: 1900px) {
   .topMid {
      max-width: 583px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;

   }

   .midLeft ul li a,
   .midRight ul li a {
      font-size: 16px;
   }

   .innTop {
      gap: 20px;
   }
}

@media screen and (max-width: 1620px) {

   .midLeft ul li a,
   .midRight ul li a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;

   }


   .topRight {
      max-width: 288px;
   }

   .rightTop button {
      max-width: 100px;
   }

   .leftBot span {
      font-size: 15px;
   }
}


@media screen and (max-width: 1440px) {
   .pageHeader {
      padding-inline: 100px;
   }

   .footerPage {
      padding-inline: 100px;
   }

   .leftBot {
      height: 100%;
   }

   .leftBot span {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;

   }

   .leftMid span {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;

   }

   .midLeft h1 {
      font-weight: 600;
   }

   .midLeft ul li a,
   .midRight ul li a {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;

   }

   .midLeft ul,
   .midRight ul {
      gap: 23px;
   }

   .rbotInn ul {
      gap: 15px;
   }

   .logores14 {
      display: block;
   }

   .logores19 {
      display: none;
   }

   .rightTop {
      max-width: 350px;
      width: 100%;
   }

   .rightTop button {
      max-width: 116px;
      width: 100%;
   }

   .logores12 {
      display: none;
   }

   .topRight {
      max-width: 350px;
      align-items: end;
   }

   .topLeft {
      max-width: 337px;
      gap: 46px;

   }

   .topMid {
      max-width: 448px;

   }

   .topRh1 {
      max-width: 350px;
      width: 100%;
   }

   .rightTop button {
      font-size: 14px;
   }

   .topMid {
      gap: 45px;
      max-width: 534px;
   }



   .head-innDv2 ul li a {
      text-transform: unset;
   }

   .head-innDv2 {
      max-width: 600px;
      width: 100%;

   }

   .head-innDv2 ul {
      justify-content: unset;
      gap: 33px;
   }



   .leftMid,
   .leftBot {
      text-align: left;
   }

   .innTop {
      justify-content: unset;
      gap: 35px;
   }

   .ibotInn span {
      font-size: 13px;
      line-height: 18px;
   }

   .leftTop {
      margin-top: 0px;
   }

   .brdis {
      display: block;
   }

   .leftMid {
      margin-top: -20px;
   }

   .leftBot {
      margin-top: 10px;
   }
}





@media screen and (max-width: 1280px) {

   .rightTop {
      width: 340px;
   }

   .logores12 {
      display: block;
   }

   .logores14 {
      display: none;
   }

   .topRh1 {
      width: 340px;
   }

   .topLeft {
      max-width: 202px;
      width: 100%;
      gap: 0px;
   }

   .midLeft h1 {
      font-size: 18px;
   }

   .midRight h1 {
      font-size: 18px;
   }

   .res67-opening {
      display: none;
   }

   .ibotInn {
      padding-inline: 40px;

   }


   /*  */
   .topMid {
      gap: 0px;
      padding-left: 40px;

   }

   .innTop {
      gap: 0px;
   }

   .topRight {
      max-width: 324px;
   }

   .ibotInn span {
      font-size: 13px;
      line-height: 10px;
   }

   .ibotInn ul {
      max-width: 380px;
      align-items: flex-end;
   }

   .topMid {
      max-width: 554px;
   }

   /*  */
   .leftBot {
      margin-top: 48px;
      width: 300px;
   }

   .leftMid {
      height: 60px;
      margin-top: 30px;
   }

}


@media screen and (max-width: 1204px) {
   .topMid {
      max-width: 554px;
      gap: 20px;
      padding-left: 20px;
   }
}






@media screen and (max-width: 1170px) {


   .topMid {
      gap: 10px;
      max-width: 534px;
      padding-left: 0px;
   }

   .innTop {
      gap: 10px;
   }




   .rightTop button {
      max-width: 80px;
      width: 100%;
   }


   .topRight {
      max-width: 324px;
   }

   .ibotInn span {
      font-size: 13px;
      line-height: 10px;
   }

   .ibotInn ul {
      max-width: 380px;
      align-items: flex-end;
   }

   .topMid {
      max-width: 554px;

   }

   .rightTop {
      max-width: 350px;
      width: 100%;
   }

   .topRh1 {
      max-width: 350px;
      width: 100%;
   }

   .topLeft {
      max-width: 240px;
      gap: 30px;
   }

   .leftMid {
      height: 40px;
      margin-top: 0px;
   }

   .leftBot {
      margin-top: -0px;
      max-width: 300px;
      width: 100%;
   }







   .head-innDv2 ul li a {
      font-size: 12px;
   }

   .ibotInn span {
      font-size: 12px;
   }

   .ibotInn ul li a {
      font-size: 12px;
   }

   .ibotInn ul {
      gap: 18px;
   }

   .head-innDv2 {
      max-width: 416px;
      width: 100%;
   }




}





















@media screen and (max-width: 1040px) {

   /* .head-innDv2 ul li a{
      font-size: 12px;
   }
   .innTop {
      gap: 5px;
  } */
   .head-innDv2,
   .innDv3-left,
   .head-innDv3 {
      display: none;
   }

   .imgFor,
   .left-lang,
   .innDv3-right {
      display: flex;
   }

   .rightTop button {
      max-width: 80px;
      width: 100%;
   }

   .topLeft {
      max-width: 203px;
      gap: 30px;
   }

}








@media screen and (max-width: 1040px) {
   .rightTop button {
      max-width: 116px;
      width: 100%;
   }

 
   


   .footerPage {
      height: 1097px;

   }

   .footLogo9 {
      display: block;
   }


   .footerInn {
      gap: 10px;
      margin-top: 60px;
   }

   .innTop {
      height: 821px;
      display: flex;
      flex-direction: column;
      margin-top: 0px;
      align-items: center;
      justify-content: space-between;
   }

   .footerPage {
      align-items: unset;
   }

   .logores19 {
      display: block;
   }

   .logores12,
   .leftMid,
   .footLogo19,
   .logores14 {
      display: none;
   }



   .topRight {
      max-width: 768px;
      width: 100%;
      align-items: end;
   }

   .topRh1 {
      max-width: 339px;
      width: 100%;
   }

   .innMed {
      margin-top: 50px;
      max-width: 767px;
      width: 100%;
   }

   .footerInn {
      max-width: 768px;
      width: 100%;
   }

   .topLeft {
      max-width: 320px;
      width: 100%;
   }

   .ibotInn {
      max-width: 350px;
      width: 100%;
      height: 84px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
   }

   .ibotInn span {
      max-width: 400px;
      width: 100%;
      text-align: center;
      line-height: 18px;
      font-size: 14px;

   }

   .midLeft ul li a,
   .midRight ul li a {
      font-family: Montserrat arm;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;

   }

   .res67-opening {
      left: 80px;
   }

   .topRight {
      margin-top: 47px;
   }

   .innMed hr {
      margin-top: 25px;
   }

   .ibotInn ul li {
      margin-top: 10px;
   }

   .ibotInn {
      max-width: 490px;
   }

   .ibotInn ul {
      gap: 33px;
      max-width: 400px;
   }

   .leftBot {
      max-width: 320px;
      text-align: center;
   }

   .leftBot span {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;


   }

   .leftTop {
      align-items: center;
   }

   .topLeft {
      gap: 18px;
   }

   .topMid {
      margin-top: 50px;

   }

   .topMid {
      max-width: 639px;
      justify-content: space-between;
      padding-left: 0px;
   }

   .midLeft ul li a,
   .midRight ul li a {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 1px;
      text-align: left;

   }

   .midLeft h1,
   .midRight h1 {
      margin-top: -5px;
   }

   .midLeft ul,
   .midRight ul {
      gap: 20px;
   }

   .rightTop {
      max-width: 340px;
      width: 100%;
   }

   .ibotInn ul li a {
      font-size: 14px;
   }

   .brEnd {
      display: block;
   }








}

@media screen and (max-width:678px) {
   .res67-opening {
      max-width: 100%;
   }
   .footerPage {
      background-image: url(../img/footer6.svg);
      background-size: cover;
      height: 1333px;
   }

   .topMid {
      flex-direction: column;
      gap: 40px;
   }

   .topRight {
      margin-top: 44px;
   }


   .rightTop {
      max-width: 479px;
      width: 100%;
      height: 90px;
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   .rightTop input {
      max-width: 479px;
      width: 100%;
      height: 100%;
      border-radius: 8px;

   }

   .rightTop button {
      max-width: 479px;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 1px;
      text-align: center;


   }

   .topRh1 {
      max-width: 479px;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;

   }

   .innMed {
      margin-top: 287px;
   }

   .ibotInn ul {
      max-width: 350px;
      gap: 10px;
      justify-content: center;
   }


   .topLeft {
      gap: 26px;
   }



}


@media screen and (max-width: 530px) {
   .footerPage {
      padding-inline: 50px;
   }

   .res67-opening {
      left: 50px;
   }


}



@media screen and (max-width: 440px) {
   .innMed {
      margin-top: 300px;
   }

   .res67-opening {
      left: 40px;
   }
}

@media screen and (max-width: 428px) {
   .pageHeader {
      height: 71px;
      padding-inline: 16px;
   }

   .footerPage {
      background-image: url(./img/footer4.svg);
      background-size: cover;
      padding-inline: 16px;
   }

   .footerInn {
      max-width: 395px;
      width: 100%;
      margin-top: 47px;
   }

   .innMed {
      margin-top: 295px;
   }

   .head-innDv1 {
      justify-content: unset;
   }

   .logono {
      display: block;
   }

   .logobl {
      display: none;
   }

   .footLogo4 {
      display: block;
   }

   .footLogo9 {
      display: none;
   }

   .topMid {
      flex-direction: column;
      gap: 50px;
   }

   .topRight {
      margin-top: 33px;
   }

   .rightMid {
      margin-top: 42px;
   }


}


@media screen and (max-width: 435px) {
   .res67-opening {
      left: 15px;
   }
}




@media screen and (max-width: 385px) {
   .ibotInn {
      justify-content: unset;
      padding-inline: 0px;
      height: 105px;
      gap: 5px;
   }
}


@media screen and (max-width: 380px) {
   .topRight {
      margin-top: 10px;
   }

   .ibotInn ul li {
      margin-top: 0px;
   }

   .ibotInn ul {
      display: flex;
      flex-wrap: wrap;
   }

   .topRight {
      margin-top: -5px;
   }

   .res67-opening {
      left: 15px;
   }

   .enjoyMon {
      font-size: 26px;
   }
}

























@media screen and (max-width: 325px) {
   .res67-opening {
      left: 10px;
   }
}



@media screen and (max-width: 322px) {
   .rightBot {
      margin-top: 10px;
  }
}



@media screen and (max-width: 320px) {
   .rightBot {
      margin-top: 20px;
  }
   .footerPage {
      height: 1343px;
   }

   .leftBot span {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;

   }

   .midLeft ul li a,
   .midRight ul li a {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 2px;
      text-align: left;

   }

   .topRight {
      margin-top: 45px;
   }

   .ibotInn {
      height: 111px;
      gap: 26px;
   }

   .ibotInn span {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;


   }

   .ibotInn ul {
      padding-top: 10px;
   }

   .res67-opening {
      left: 20px;
   }

   .footerPage {
      height: 1343px;
   }

   .enjoyMon {
      font-size: 24px;
   }

   .res67-opening {
      left: -10px;
   }




}

@media screen and (max-width: 315px) {
   .topRight {
      margin-top: 0px;
   }
}



@media (max-width: 300px) {
   .ibotInn {
      height: 111px;
      gap: 10px;
   }

   .rbotInn ul {
      gap: 5px;
   }

   .forGrInn {
      gap: 40px;
   }

   .thrdGroupTop {
      height: 753px;
   }

   .thrdGroupMid {
      height: 651px;
   }

   .downloadButt {
      font-size: 16px;
   }
}


@media screen and (max-width: 290px) {
   .enjoyMon {
      font-size: -15px;
   }
}



@media screen and (max-width: 280px) {
   .res67-opening {
      left: -25px;
   }
}

@media screen and (max-width: 275px) {
   .res67-opening {
      left: -30px;
   }
}




@media screen and (max-width:1920px) and (min-width:1440px) {
   .footerPage {
      background-size: cover;
   }



}



@media screen and (max-width:1440px) {
   .footerPage {
      background-image: url(../img/Footer14.png);
      background-size: cover;
   }


}

@media screen and (max-width:1280px) {
   .footerPage {
      background-image: url(../img/Footer12.svg);
      background-size: cover;
   }



}

@media screen and (max-width:968px) {
   .footerPage {
      background-image: url(../img/footer9.svg);
      background-size: cover;
   }


}

@media screen and (max-width:678px) {
   .footerPage {
      background-image: url(../img/footer6.svg);
      background-size: cover;
   }


}

@media screen and (max-width:428px) {
   .footerPage {
      background-image: url(../img/footer4.svg);
      background-size: cover;
      height: 1324px;
   }



}

@media screen and (max-width:320px) {
   .footerPage {
      background-image: url(../img/footerEnd.svg);
      background-size: cover;
      height: 1343px;
   }



}



@media screen and (max-width:300px) {
   .logores19{
      width: 70%;
   }
   .enjoyMon{
      font-size: 19px;
   }
   .inn-step-bot {
      gap: 10px;
  }
  .secGRH1 {
   font-size: 20px;
  }
  .spanPay {
   font-size: 18px;
   line-height: 22px;
}
.thrGrTopP, .thrdGrMp22, .thrdGrBp4 {
   font-size: 18px;
   line-height: 22px;
}
.GrBotInn {
   gap: 10px;
}

.midLeft, .midRight  {
   gap: 5px;
}
.midLeft ul, .midRight ul {
   gap: 10px;
}
.ibotInn ul {
   gap: 8px;
}
.ibotInn {
   height: 126px;
   gap: 10px;
}
.aboutMonet1 {
   font-size: 18px;
}
}