* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@font-face {
    font-family: "Montserratarm-Regular";
    src: url(../fonts/Montserratarm-Regular/Montserratarm-Regular.otf);
}


ul {
    list-style: none;
}

.pageHeader {

    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 243px;
    background: #01164E;
    box-shadow: 0px 4px 30px 0px #0F3AA6;
    position: relative;

}

.HeaderInn {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-innDv1 {
    max-width: 89px;
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-innDv2 {
    max-width: 641px;
    width: 100%;
    height: 44px;
    padding-inline: 15px;
}

.head-innDv2 ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-innDv2 ul li {
    display: flex;
    align-items: center;
}

.head-innDv2 ul li a {

    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #F6F6F6;
}

.head-innDv2 ul li a:hover {
    color: #FFB25F;

}

.head-innDv2 ul li a:active {
    color: #FF7233;

}


.head-innDv3 {
    max-width: 279px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.innDv3-opening {
    display: none;
}

.innDv3-left {
    max-width: 110px;
    width: 100%;
    height: 36px;
    background: linear-gradient(0deg, #001447, #001447),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
}

.innDv3-left:hover {
    cursor: pointer;
    background: #FFB25F;
    border: none;
}

.innDv3-left:focus {
    border: 1px solid #FF7233;
}


.innDv3-left:hover span {
    color: #001447;
}

.innDv3-left:hover .down {
    color: #001447;
}

.down-bl {
    display: none;
}

.innDv3-left:hover .down-bl {
    display: flex;
    align-items: center;
}

.innDv3-left:hover .down {
    display: none;
}

/* .innDv3-left:focus-visible{
    background: linear-gradient(0deg, #001447, #001447),
linear-gradient(0deg, #FF7233, #FF7233);
} */
.innDv3-left:active {
    border: 1px solid #FF7233
}

.leftDv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDv2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDv3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDv2 span {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-transform: uppercase;
}


.down {
    display: flex;
    align-items: center;
}

.upp {
    display: none;
}

.innDv3-opening {
    max-width: 110px;
    width: 100%;
    height: 76px;
    position: absolute;
    top: 35px;
}

.openDv {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #001447, #001447),
        linear-gradient(0deg, #FF7233, #FF7233);
    border: 1px solid #FF7233;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #0000000A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.openDv div {
    width: 100%;
    height: 34px;
    display: flex;
    padding-inline: 8px;
    justify-content: space-between;
    align-items: center;
}

.openDv div:hover {
    cursor: pointer;
}

.openDv span {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.imgFor {
    display: none;
}

.res67-opening {
    max-width: 364px;
    width: 100%;
    height: 710px;
    padding-inline: 16px;
    position: relative;
    top: 314px;
    background-color: #001447;
    display: none;
    z-index: 1;
}

.left-lang {
    max-width: 110px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.openInner {
    max-width: 364px;
    width: 100%;
    height: 710px;
    display: flex;
    flex-direction: column;
}

.imgFor:hover {
    cursor: pointer;
}

.innTopHead {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.head-innDv32 {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
    max-width: 110px;
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.frst-hr {
    background: #C2D3FF;
    border: 1px solid #C2D3FF;
}






.innDv32-left {
    max-width: 110px;
    width: 100%;
    height: 36px;
    background: linear-gradient(0deg, #001447, #001447),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
}

.innDv32-left:hover {
    cursor: pointer;
    background: #FFB25F;
    border: 1px solid #FFB25F
}

.innDv32-left:hover span {
    color: #001447;
}

.innDv32-left:hover .down {
    color: #001447;
}

.down-bl {
    display: none;
}

.innDv32-left:hover .down-bl {
    display: flex;
    align-items: center;
}

.innDv32-left:hover .down {
    display: none;
}

/* .innDv32-left:focus-visible{
    background: linear-gradient(0deg, #001447, #001447),
linear-gradient(0deg, #FF7233, #FF7233);
} */
.innDv32-left:active {
    border: 1px solid #FF7233
}


.innMid {
    width: 100%;
    height: 172px;
    display: flex;
    align-items: center;
}

.innMid ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.innMid ul li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.innMid ul li a:hover {
    color: #FFB25F;

}

.head-innDv2 ul li a:active {
    color: #FF7233;

}

.head-innDv2 a {
    text-transform: uppercase;
}

.innBott {
    width: 100%;
    height: 456px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
}

.botTop {
    max-width: 228px;
    width: 100%;
    height: 44px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.botTop a {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFFB2;
}

.botTom {
    max-width: 208px;
    width: 100%;
    height: 44px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.botTom {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    color: #FFFFFFB2;
}

.topRight:hover {
    cursor: pointer;
}

.menuOpener {
    display: none;
}

.logono {
    display: none;
}


/* header end */























































/* footer start */

.footerPage {
    width: 100%;
    height: 477px;
    background-image: url(../img/Footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 245px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 30px 0px #167FFC;

}


.footerInn {
    max-width: 1430px;
    width: 100%;
    height: 397px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.innTop {
    width: 100%;
    height: 329px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.topLeft {
    max-width: 326px;
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.leftTop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: -15px;
}

.leftTop a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

}

.leftMid {
    max-width: 329px;
    width: 100%;
    height: 24px;
    text-align: left;
}

.leftMid span {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.leftBot {
    height: 72px;
    text-align: left;
}

.leftBot span {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    background: -webkit-linear-gradient(180deg,
            #FFB763, #FF7233 78.75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.topMid {
    max-width: 583px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

}

.topMid {
    max-width: 621px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.midLeft {
    max-width: 244px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.midLeft h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.midLeft ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.midLeft ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFFB2;
}

.midLeft ul li a:hover {
    color: #FFB25F;
}

.midLeft ul li a:active {
    color: #FF7233;
}

.midRight {
    max-width: 301px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.midRight h1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.midRight ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.midRight ul li a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFFB2;
}

.midRight ul li a:hover {
    color: #FFB25F;
}

.midRight ul li a:active {
    color: #FF7233;
}

.topRight {
    max-width: 480px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.rightTop {
    width: 100%;
    height: 40px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 12px;
}

.topRh1 {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.rightTop input {
    border: none;
    max-width: 275px;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-radius: 8px 0px 0px 8px;
}

.rightTop input:hover {
    border: 2px solid #ffb25f;
}

.rightTop:disabled {
    background: linear-gradient(0deg, #BDBDBD, #BDBDBD),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 2px solid #BDBDBD;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #BDBDBD;
}



.rightTop input:focus {
    border: 2px solid #FF7233;
    outline: none;
}

.rightTop button {
    border: none;
    max-width: 205px;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFB763 10.52%, #FF7233 78.75%);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #001447;
}

.rightTop button:hover {
    cursor: pointer;
    border: 2px solid #FF7233;
    background: linear-gradient(0deg, #001447, #001447),
        linear-gradient(0deg, #FF7233, #FF7233);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: #FF7233;
    border-radius: 1px 10px 10px 0px;
}


.rightMid {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.rmidInn {
    max-width: 199px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.rmidInn ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.rightBot {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.rbotInn {
    max-width: 136px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rbotInn ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
}



.innMed {
    width: 100%;
    display: flex;
    justify-content: center;
}

.innMed hr {
    max-width: 1300px;
    width: 100%;
    border: 1px solid #5489CA;
    background: #5489CA;

}

.innBot {
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: center;
}

.ibotInn {
    max-width: 1188px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.ibotInn span {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.ibotInn ul {
    max-width: 320px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.ibotInn ul li a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #FFFFFF;
}



.logores14 {
    display: none;
}

.logores12 {
    display: none;
}

.footLogo9 {
    display: none;
}

.brdis {
    display: none;
}


.brEnd {
    display: none;
}

.footLogo4 {
    display: none;
}


/* footer end */